<h1>Creer un nouvel article</h1>

<form action="/articles/create" method="post">
<label for="titre">Titre</label>
<input type="text" id="titre" name="inputTitre">
<label for="contenu">Contenu</label>
<textarea name="inputContenu" id="contenu"></textarea>
<input type="submit" value="Creer" />
</form>
<a href="/">Retour</a>