<form action="/articles/create" method="post" class="bg-white p-6 rounded-lg shadow-md">
  <div class="mb-4">
    <label for="titre" class="block text-sm font-medium text-gray-700">Titre de l'article</label>
    <input type="text" id="titre" name="inputTitre" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" required/>
  </div>
<div class="mb-4">
    <label for="contenu" class="block text-sm font-medium text-gray-700">Contenu de l'article</label>
    <textarea class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" name="inputContenu" id="contenu"></textarea>
</div>
  <button type="submit" class=" py-2 px-4 bg-blue-600 text-white font-bold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
    Créer l'article
  </button>
</form>
